---
title: Big Oak Cabin - Rates
---

{% include header.html %}

<div class="page-rates">
	<h1>Rates and Reservations</h1>

	<h2>Pricing</h2>
    <ul class="list">
        <li>$100 / night for 2 persons (2 night minimum)</li>
        <li>$10 extra each additional person</li>
	</ul>

	<h2>Payment</h2>
	<p>
    	We accept all major credit cards: VISA, MasterCard, Discover, American Express
	</p>
    
    <h2>Terms and Conditions</h2>
    <ul class="list">
    <li>
        A deposit of 50% of your total amount is required to make a reservation, and may be paid by a major credit card or personal check.
	</li>
	<li>
        Check in for Big Oak Cabin is at: Little Switzerland - 2.5 miles north of Jasper on Scenic 7.  Check in: 3 p.m. to 8 p.m.   If you need to arrive later than 8 p.m., let us know in advance.  
	</li>
	<li>
        Check OUT time is 11:00 a.m. 
	</li>
    <li>
        All Prices are subject to 10% Arkansas accommodations tax.
	</li>
    <li>
		Guests agree to indemnify owner of any damages to the premises (including furnishings and household items) which result from your rental occupancy, excluding normal wear and tear. We will not be responsible for accidents or injuries to guests, or for loss of money or valuables of any kind. 
	</li>
    <li>
		Big Oak Cabin is completely furnished, including cooking utensils, table service and flatware. There are extra linens, towels, bathroom tissue and soap in each bath and a washer and dryer are provided, for your laundry.  Maid service cleaning is done after your departure and is not provided daily for extended stays.  But if you need anything just let us know.  870-446-2810 
	</li>
    <li>
		Before you leave, please clean the kitchen, remove your trash and clean out the refrigerator.   Also, we value your comments about Big Oak Cabin - please take a moment to sign and comment in our guest book.
	</li>
    <li>
		We hope you enjoy your visit to Newton County and Buffalo River Country and your stay at Big Oak Cabin, your place of rest and beauty for your Ozarks visit.
	</li>
    </ul>
    
	<h2>Cancellation Policy</h2>
	<p>
		Deposits are refundable only if 14 days advance notice is given before your arrival.  
	</p>
  <p>
    Once you have confirmed a reservation, a deposit is refunded only if 14 days advance Notice is given. 
  </p>
  <p>
    If you do not call to cancel and do not show up for your reservation, you are responsible for the Full amount of your stay.
  </p>
</div>

{% include footer.html %}
